/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2015, 08:33:26
    Author     : aldir.junior
*/
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext,vietnamese,latin-ext,cyrillic);
body{
    font-family: Raleway,sans-serif;
}

body.relative{
    position: relative;
}

.card{
    background-color: #fff;
    box-shadow: 1px 2px 3px rgba(0,0,0,.4);
    padding: 10px 15px;
    margin-bottom: 10px;
}

.form-inline .form-control{
    width: 100%;
}

.form-inline .form-group{
    margin-bottom: 4px;
}

.card h3{
    margin: 5px 5px 10px 0px;
    padding: 5px 5px 15px 0px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #f7f7ff; 
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

*::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
    border-radius: 10px;
}

*::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
    border-radius: 0px;
    background-color: #11a8bb;
}

button:active, button:focus{
    outline: 0!important;
}

#inicio .btn{
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 50px;
    margin: 10px 0;
    outline: 0 none;
    height: 68px;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;   
    z-index: 1;
    position: relative;
    cursor: pointer;
    border: 2px solid;
}

#inicio .btn-success{
    border-color: #398439;
}

#inicio .btn-info{
    border-color: #269abc;
}

#inicio img{
    margin-top: 130px;
    height: 160px;
}
#inicio h1{
    margin-top: 190px; position: relative; color: #fff; z-index: 1; color: #222222; font-size: 90px; font-weight: bold
}

#inicio h2{
    margin-top: 190px; position: relative; color: white; z-index: 1; font-size: 50px; font-weight: bold;
}

.icon {
    font-size: 70px;
    text-align: center;
    color: #407887;
}
#como-funciona h2{
    font-size:24px
}
#como-funciona p, #contato p, #planos p{
    font-size: 16px;
}

#como-funciona .btn, #planos .btn, #contato .btn, #noticias .btn,#noticia .btn{
    box-shadow: 1px 2px 3px rgba(0,0,0,.4);
    border-radius: 0;
    color: #fff;
    height: 50px;
    z-index: 999;
    font-size: 14px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 35px;
}

#contato label{
    font-size: 16px;
    color: #fff;
}

#contato p, #contato h2, #contato h1{
    color: #fff;

}
#contato hr{
    background-image: linear-gradient(to left,rgba(255,255,255,0),rgba(255,255,255,.2),rgba(255,255,255,0))!important;   
}

#parallax{
    width: 100%; position: fixed; left: 0px; top: 0px; z-index: 0!important;
}

.cnae-search-box{
    background-color: #fff;
    width: auto;
    padding: 15px 12px;
    position: absolute;
    top: 60px;
    z-index: 50;
    border: 1px black solid;
    display: none;
}

.form-group{
    position: relative;
}

.navbar{
    background-color: #2C2F3B !important;
    box-shadow: 1px 2px 3px rgba(0,0,0,.4);
    height: 60px;
    border-color:#2C2F3B !important;
}

.navbar-brand{
    height: 60px;
    line-height: 30px;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar a{
    color: #fff!important;
}
hr{

    background-image: linear-gradient(to left,rgba(0,0,0,0),rgba(0,0,0,.2),rgba(0,0,0,0))!important;
    border: 0;
    height: 1px;
    margin: 22px 0;;
}

h1.title{
    color:#5b5b60 ;
    text-align: center;
}

.pricing-table .plan {
    margin: 20px 0;
    position: relative;
    padding: 0;
    list-style: none;
    border: 1px solid #e2e2e4;
    border-bottom: none;
    text-align: center;
    background-color: #fff;
}

.pricing-table .plan li {
    padding: 10px 15px;
    color: #8e8e93;
    border-bottom: 1px solid #e2e2e4;
}

.pricing-table .plan li.plan-name {
    padding: 15px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    background: #d5d4d8;
    border-top: 0;
    border-bottom: 0;
}

.pricing-blue .plan li.plan-name {
    background: #488798;
}

.pricing-table .plan li.plan-price {
    background: #407887;
    color: #fff;
    font-size: 18px;
    padding: 6px 20px;
    border-bottom: none;
}

.pricing-table .plan li.plan-price h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2em;
    padding: 30px 0;
    font-weight: 600;
    color: #fff;
}

.pricing-table .plan li.plan-price h3 .price-cents {
    font-size: 50%;
    vertical-align: super;
    margin-left: -10px;
}

.pricing-table .plan li.plan-price h3 .price-month {
    font-size: 30%;
    font-style: italic;
    margin-left: -20px;
    font-weight: 300;
    color: #fff;
}

.pricing-blue .plan li strong {
    color: #407887;
}

.pricing-table .plan.featured {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 3px 25px -4px rgba(0,0,0,.9)!important;
}

.pricing-blue .plan.featured .plan-name {
    background: #1f3a42;
}

.bg-white{
    background-color: #fff!important;
}
.bg-dark{
    background-color: rgba(0,0,0, 0.3);
}

.bg-ltblue{
    background-color: #f7f7ff;
}

.bg-dark h1{
    color: #fff;
}

section{
    z-index: 1!important;
    position: relative;
    padding-bottom: 25px;
}

#navbar{
    z-index: 50!important;
}

.bg-shadow{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
}

label{
    color:#858585;
    font-weight: bold;
}

#contato-enviar{
    margin-top: 15px;
}

#redes-sociais a{
    font-size: 55px;
    margin-right: 15px;
    color: #fff;
}

.form-control, .btn{
    border-radius: 0px
}

.cke_chrome {
    border-radius: 0px!important;   
}

#sidebar-left{
    overflow: auto;
    width: 250px;
    position: fixed;
    height: calc(100% - 60px);
    top: 60px;
    background-color: #D7D6DB;
    box-shadow: inset -9px 0 8px -11px rgba(0,0,0,.4);
    z-index: 49;
}

#dash-container{
    position: absolute;
    top: 60px;
    left: 250px;
    z-index: 49;
    padding: 0 15px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

#sidebar-left ul{
    list-style: none;
    padding-left: 5px;
}

#sidebar-left > ul > li.sidebar-header{
    margin-left: 2px!important;
    border-left: 3px solid gray;
    padding-left: 8px;
    background-color: #2F3A49 !important;
    color: #fff;
    height: 35px;
    line-height: 35px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.4);
}

#sidebar-left > ul > li{
    margin: 5px 0 5px 5px;
    height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}

#sidebar-left > ul > li.active{
    box-shadow: 1px 0px 2px 1px rgba(0,0,0,0.3)
}

#sidebar-left > ul > li > a{
    width: 100%;
    height: 100%;
    background-color: #C1C0C5;
    display: block;
    color: #8e8e93;
    padding-left: 50px;
    position: relative;
}

#sidebar-left > ul > li.active > a{
    background-color: #f7f7ff;
    color: #2C2F3B;
}

#sidebar-left > ul > li:hover > a{
    background-color: #e3e2e5;
    color: #636366;
    text-decoration: none!important;
}

#sidebar-left > ul > li > a:focus, #sidebar-left > ul > li > a:active, #sidebar-left > ul > li > a:hover{
    outline: none!important;
    text-decoration: none;
}

#sidebar-left > ul > li.active:hover > a{
    background-color: #f7f7ff;
    color: #2C2F3B;
}

#sidebar-left > ul > li > a div.icon{
    width: 30px;
    height: 30px;
    background-color: #aaabb0;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

#sidebar-left > ul > li.active > a div.icon,#sidebar-left > ul > li.active:hover > a div.icon{
    background-color: #41434e;
}

#sidebar-left > ul > li:hover > a div.icon{
    background-color: #808289;
}

hr.dash-title {
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, rgba(44,47,59, 0.7), rgba(107,109,117, 0.3), rgba(0,0,0,0.1),rgba(0,0,0,0.0))!important;
}

#dash-container > .container-fluid{
    padding-bottom: 15px;
}

.form-control:focus {
    border-color: #808289;
    box-shadow: none;
}


.fc-event {
    position: relative;
    cursor: pointer;
    padding: 8px;
    margin: 10px;
    color: #2a3342;
    font-size: 13px;
    font-weight: 600;
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #e5eaee;
}
.fc-event.fc-day-grid-event {
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.fc-event.fc-day-grid-event > .fc-content {
    white-space: normal;
}
.fc-event.fc-day-grid-event.fc-event-info {
    background-color: #47d1af;
    color: #fff;
}
.fc-event.fc-day-grid-event.fc-event-success {
    background-color: #47D178;
    color: #fff;
}
.fc-event.fc-day-grid-event.fc-event-primary {
    background-color: #11a8bb;
    color: #fff;
}
.fc-event.fc-day-grid-event.fc-event-warning {
    background-color: #ff7444;
    color: #fff;
}
.fc-event.fc-day-grid-event.fc-event-alert {
    background-color: #fdba4b;
    color: #fff;
}
.fc-event.fc-day-grid-event.fc-event-danger {
    background-color: #ee5744;
    color: #fff;
}
.fc-event.fc-day-grid-event.fc-event-system {
    background-color: #6852b2;
    color: #fff;
}
.fc-event.fc-day-grid-event.fc-event-dark {
    background-color: #2a3342;
    color: #fff;
}
.fc-event.fc-day-grid-event.fc-event-light {
    background-color: #e5eaee;
}
.fc-event-desc {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}
.fc-event-desc b {
    display: block;
}
.fc-event-icon {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    font-size: 32px;
    text-align: left;
}
.fc-event:hover,
.fc-event:focus {
    background: #f4f7f9;
    color: #2a3342;
}
.fc-view-container .fc-event {
    padding: 10px;
    margin: 5px 10px 3px;
    background-color: #11a8bb;
    color: #fff;
}
.fc-view-container .fc-event .fc-content {
    overflow: hidden;
    text-overflow: ellipsis;
}
.fc-view-container .fc-event .fc-content .fc-time {
    display: none;
}
.fc-event-primary {
    border-left-color: #11a8bb;
}
.fc-event-primary .fc-event-icon {
    color: #11a8bb;
}
.fc-event-info {
    border-left-color: #47d1af;
}
.fc-event-info .fc-event-icon {
    color: #47d1af;
}
.fc-event-success {
    border-left-color: #47D178;
}
.fc-event-success .fc-event-icon {
    color: #47D178;
}
.fc-event-warning {
    border-left-color: #ff7444;
}
.fc-event-warning .fc-event-icon {
    color: #ff7444;
}
.fc-event-danger {
    border-left-color: #ee5744;
}
.fc-event-danger .fc-event-icon {
    color: #ee5744;
}
.fc-event-alert {
    border-left-color: #fdba4b;
}
.fc-event-alert .fc-event-icon {
    color: #fdba4b;
}
.fc-event-system {
    border-left-color: #6852b2;
}
.fc-event-system .fc-event-icon {
    color: #6852b2;
}
.fc button {
    border-radius: 0px;
    height: auto;
}
.fc button + button {
    margin-left: 5px;
}
.fc-state-default {
    border: 1px solid;
}
.fc-button {
    border-radius: 0px;
    text-transform: capitalize;
}
.fc-state-default.fc-corner-left {
    border-radius: 0px;
}
.fc-state-default.fc-corner-right {
    border-radius: 0px;
}
.fc-today-button.fc-state-default.fc-corner-right {
    margin-left: 30px;
    color: #2a3342;
}
.fc-today-button.fc-state-default.fc-corner-right:not(.fc-state-disabled) {
    background-color: #f1f3fa;
}
.fc button .fc-icon {
    position: relative;
    top: 2px;
    margin: 0;
}
.fc-state-default {
    background-color: #e5eaee;
    background-image: none;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #333;
    text-shadow: none;
}
.fc-today-button {
    color: #2a3342;
}
.fc-state-hover,
.fc-state-down,
.fc-state-active {
    color: #ffffff !important;
    background-color: #2a3342 !important;
}
.fc-state-hover {
    color: #ffffff !important;
    text-decoration: none !important;
}
.fc-state-down,
.fc-state-active {
    background-color: #2a3342 !important;
    background-image: none;
}
.fc-state-disabled {
    cursor: default;
    background-image: none;
    opacity: 0.55;
    filter: alpha(opacity=55);
    box-shadow: none;
}
.fc-toolbar {
    margin-bottom: 23px;
}
body.basic-calendar .chute-center .fc-toolbar .fc-center h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
}
.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
    z-index: 1;
}
.fc-button-group {
    display: inline-block;
}
.fc .fc-button-group > * {
    float: left;
    margin: initial;
}
.fc .fc-button-group > button + button {
    margin-left: 5px;
}
.fc .fc-button-group > :first-child {
    margin-left: 0;
}
.fc-button-group .fc-button,
.fc-button-group .fc-button:focus {
    background-color: #11a8bb;
    color: #fff;
}
.fc-bg {
    background-color: #fefefe;
}
.fc-bg .fc-today {
    background-color: #f4f7f9;
}
.fc-bg .fc-other-month {
    background-color: #ffffff;
}
.fc-widget-header {
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}
.fc-day-header {
    background-color: #fff;
    border-color: transparent !important;
    color: #2a3342;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
}
.fc-basic-view td.fc-day-number {
    color: #2a3342;
    font-size: 20px;
    font-weight: 700;
    padding-top: 5px;
    padding-right: 20px;
}
.fc-basic-view td.fc-today.fc-day-number {
    color: #444;
    font-weight: 600;
}
.fc-title-clone {
    color: #2a3342;
    font-size: 20px;
    font-weight: 700;
    padding-left: 5px;
    padding-bottom: 15px;
}
.minimal-mp .ui-datepicker {
    background: none;
    margin: 0;
    border: 0;
}
.minimal-mp .ui-datepicker-header {
    display: none;
}
.minimal-mp .ui-datepicker td {
    padding: 8px 5px;
}
.minimal-mp .ui-datepicker td span,
.minimal-mp .ui-datepicker td a {
    background: #e5eaee;
    color: #2a3342;
    line-height: 38px;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}
.minimal-mp .ui-datepicker td:hover span,
.minimal-mp .ui-datepicker td:hover a {
    background: #dce3e8;
}
.minimal-mp .ui-datepicker td span.ui-state-highlight,
.minimal-mp .ui-datepicker td a.ui-state-highlight,
.minimal-mp .ui-datepicker td span.ui-state-active,
.minimal-mp .ui-datepicker td a.ui-state-active {
    color: #fff;
}
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed hr,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: #e5eaee;
}
@media (max-width: 767px) {
    .fc-widget-content .fc-event-container .fc-content {
        display: none;
    }
    .fc-widget-content .fc-event-container .fc-event {
        width: 20px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}

.fc-event.fc-day-grid-event.fc-event-primary {
    background-color: #11a8bb;
    color: #fff;
}

.fc button {
    border-radius: 0px;
    display: inline-block;
    margin-bottom: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer;
    background-image: none;
    border: 0;
    border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18);
    white-space: nowrap;
    padding: 8px 15px;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.02em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #2a3342;
    background-color: #e5eaee;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.15);
    height: auto;
}

.fc-icon{
    line-height: 10px;
    height: 15px;
}

.fc .fc-button-group > button + button {
    margin-left: 5px;
}

.fc-button-group .fc-button, .fc-button-group .fc-button:focus {
    background-color: #11a8bb;
    color: #fff;
}

.fc .fc-button-group > * {
    float: left;
    margin: initial;
}

.fc-state-default.fc-corner-right {
    border-radius: 0px;
}

.fc button:active, .fc button.active, .open > .dropdown-toggle.fc button {
    background-image: none;
}

.fc button:hover, .fc button:focus, .fc button:active, .fc button.active, .open > .dropdown-toggle.fc button {
    color: #2a3342;
    background-color: #dde4e9;
}

.fc button:active, .fc button.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fc-state-default.fc-corner-right {
    border-radius: 0px;
}

.fc button.disabled, .fc button[disabled], fieldset[disabled] .fc button {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fc button.disabled, .fc button[disabled], fieldset[disabled] .fc button, .fc button.disabled:hover, .fc button[disabled]:hover, fieldset[disabled] .fc button:hover, .fc button.disabled:focus, .fc button[disabled]:focus, fieldset[disabled] .fc button:focus, .fc button.disabled:active, .fc button[disabled]:active, fieldset[disabled] .fc button:active, .fc button.disabled.active, .fc button[disabled].active, fieldset[disabled] .fc button.active {
    background-color: #e5eaee;
    border-color: #d5dadd;
}

.fc-today-button.fc-state-default.fc-corner-right {
    margin-left: 30px;
    color: #2a3342;
}

.instrucao-descricao{
    margin-top: 15px;
}

#instrucao{
    max-height: 100%;
    overflow: auto;
}

.btn{
    border: 0;  
}

.btn-primary,
.btn-primary:focus {

    color: #fff;
    background-color: #11a8bb;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.15);
}
.btn-primary:hover,.btn-primary:active{
    color: #fff;
    background-color: #2a3342;

}

.paginacao-instrucao{
    background-color: #fff;
    border-color: transparent !important;
    color: #2a3342;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    left: 0;
}

.paginacao-instrucao .numero{
    font-size: 17px;
}

.btn.disabled{
    background-color: #C1C0C5!important;
}

#paginacao-instrucao-container{
    width: 100%;
    position: relative;
    height: 33px;
}

#paginacao-instrucao-container .paginacao-botoes{
    position: absolute;
    right: 0;
}

#calendar{
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 12px;
    height: 38px;
    padding: 8px 15px!important;
    letter-spacing: 0.02em; 
    line-height: 23px;
}

.table>tbody>tr>td{
    vertical-align: middle;
}

.pagination {
    margin-top: 0;
    border-radius: 0px!important;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #286090;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.15);;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #11a8bb;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.15);
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-radius: 0px!important;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0px!important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    cursor: default;
    color: #fff;
    background-color: #11a8bb;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.15);
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.15);
}

select.form-control{
    padding-left: 8px;
}

ul.lista-impostos{
    margin-top: 5px;
}

ul.lista-impostos li, ul.lista-processos li{
    border-radius: 0px!important;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin-bottom: 3px;
    cursor: pointer;
}

ul.lista-impostos li{
    background-color: #fff2e6;
    border: 2px solid #ffd9b3;
}
ul.lista-impostos li i{
    font-size: 16px;
}
ul.lista-impostos li a{
    color: #2C2F3B;
}

ul.lista-impostos li a, ul.lista-processos li a:hover{
    text-decoration: none;
}

p .fa.fa-dollar{
    background-color: #ffcc66;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    line-height: 28px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    box-shadow: inset 2px 2px 5px #ffb31a;
}

p .fa.fa-file-o{
    background-color: #80bfff;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    line-height: 28px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    box-shadow: inset 2px 2px 5px #4da6ff;
}

ul.lista-impostos li:hover{
    background-color: #ffe6cc
}

.tab-content{
    background-color: #66ffff;
    box-shadow: 1px 2px 3px rgba(0,0,0,.25);
    z-index:2;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #66ffff;
    border: transparent;
    border-bottom-color: transparent;
    /*font-size: 17px;*/
    font-weight: bold;
}

.nav-tabs{
    z-index:1;
    border: transparent;
}

.dash-info{
    border: 2px solid #00e6e6;
    background-color: #fff;
    margin: 10px 0;
    font-size: 16px;
    padding: 5px;
}

.processo-info{
    padding: 0px 5px;
    margin-bottom: 15px;
}

.processo-info .pull-left{
    margin-right: 20px;
    padding-bottom: 10px;
    padding-top:10px;
}

.processo-info .titulo{
    color: #858585;
    font-size: 14px;
    font-style: italic;
}
.processo-info .info{
    font-size: 16px;
    font-weight: bold;
}

.alert{
    border-radius: 0px;
    border:2px solid;    
}

.alert-info{
    border: #b9def0 2px solid;
}

.mensagem{
    transition: box-shadow .25s;
    padding: 20px;
    margin: .5rem 0 1rem 0;
    border-radius: 0px;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.mensagem .title{
    font-weight: bold;
}

.mensagem-usuario{
    background-color: #fafafa;
    border-left: 2px solid #F3565D;
    margin-right:35px; 
}

.mensagem .anexo{
    border-top: #337ab7 1px dashed;
    padding: 10px 0 0 0;
    margin: 10px 0 0 0;
    font-size:  13px;
    font-weight: bold;
}

.mensagem-admin{
    margin-left:35px; 
    background-color: #FEF9D7;
    border-right: 2px solid #1BBC9B;
}

.form-control {
    background-color: #ffffff;
    border: 1px solid #e4e7ea;
    border-radius: 0;
    box-shadow: none;
    color: #565656;
    height: 38px;
    max-width: 100%;
    padding: 7px 12px;
    transition: all 300ms linear 0s;
}

.form-control:focus {
    box-shadow: none;
    border-color: #2b2b2b;
}

#chat-box{
    z-index: 1000;
    position: fixed;
    bottom: 25px;
    right: 25px;
    height: 450px;
    width: 350px;
    background-color: #fff;
    border: 1px solid #e4e7ea;
    padding: 15px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.4);
}

#chat-button button{
    box-shadow: 1px 2px 3px rgba(0,0,0,.4);
    border-radius: 0;
    background-color: #4da6ff;
    color: #fff;
    width: 215px;
    height: 50px;
    position: fixed;
    z-index: 999;
    border: 1px solid #4da6ff;
    bottom: 30px;
    right: 30px;
    font-size: 14px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 35px;
}

#chat-button button:hover{
    background-color: #4d7aff;
}

#chat-button button span{
    font-size: 15px;
    margin-right: 5px;
}

#chat-mensagens{
    border: 1px solid #e4e7ea;
    height: 230px;
    overflow: auto;
    width: 318px;
}

#chat-mensagens .mensagem{
    padding: 5px 10px;
    border: none;
    font-size: 12px;
}

#chat-mensagens .atendente{
    margin-right: 25px;
    background: #FEF9D7;
    border-left: 2px solid #1BBC9B;
}

#chat-mensagens .cliente{
    margin-left: 25px;
    background: #fafafa;
    border-right: 2px solid #F3565D;
}

#chat-mensagens .mensagem .nome{
    color: #3590c1;
    font-size: 13px;
    font-weight: 400;
}

.lista-apuracoes-urgentes{
    padding: 0;
}

.lista-apuracoes-urgentes li{
    list-style: none;
    border-bottom: 1px solid #f7f7ff;
    padding: 10px 0;

}
.lista-apuracoes-urgentes li a{
    color: #11a8bb !important;
}

.lista-apuracoes-urgentes li a:hover{
    text-decoration: none;
    color: #2F3A49 !important;
}

.lista-apuracoes-urgentes li div.empresa{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
}

.lista-apuracoes-urgentes li div.imposto{
    font-size: 14px;
    width: 100%;
}

.lista-apuracoes-urgentes li div.vencimento{
    font-weight: bold;
    font-size: 13px;
    width: 100%;
}   


.navbar-brand{
    padding: 12px 15px;
}

.navbar-brand img{
    height: 35px;
}

.corpo-email{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    width: 600px;
    margin: 0 auto;
}

.corpo-email h1{
    padding: 15px;
    font-weight: bold;
    color: #34495e;
}

.corpo-email p{
    padding: 17px;
    font-size: 16px;
    color: #34495e;
}

.corpo-email a{
    color: #47D178
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #4da6ff;
}

.noticias .noticia{
    position: relative;
    float: left;
    padding: 5px;
}

.noticias .noticia a{
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: block;
    color: #fff;
}

.noticias .noticia .black{
    background-color: rgba(0,0,0,1);
    opacity: 0.15;
    z-index: 2;
    position: absolute;
    top:5px;
    bottom: 5px;
    left:5px;
    right:5px;
}

.noticias .noticia img{
    filter: brightness(70%);
    z-index: 1;
    width: 100%;
    transition: transform 0.2s ease-in;
}

.noticias .noticia img:hover{
    transform: scale(1.10);
}

.noticias .noticia .titulo{
    z-index:3;
    position: absolute;
    left: 15px;
    bottom: 40px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.noticias .noticia.destaque .titulo{
    font-size: 25px;
}

.noticias .noticia .data{
    z-index:3;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.noticias .noticia.destaque{
    width: 50%;
    height: 370px;
}
.noticias .noticia{
    width: 25%;
    height: 185px;
}

th,td{
        white-space: nowrap;
        vertical-align: middle;
}